  @page "/history"
  <div class="logo-content logo-content-min-size">
        <img class="logo" width="95" src="../icon-no-bg.png" alt="imc-logo">
    </div>

    <div class="title">
        <h1>Histórico</h1>
    </div>

    <div class="group">
        <input type="text" class="form-text form-search" placeholder="Pesquisar..." />
    </div>

    <div class="history-area">
        <div class="content-block"></div>
        <div class="history-header-weight">
            <span>Peso ideal ✅</span>
        </div>
        <div class="history-header-time">
            <span class="time">8m atrás</span>
        </div>
        <div class="description">
            <p>Parabéns, você está no seu peso ideal, continue mantendo este estilo!</p>
        </div>
        <div class="line-divider"></div>
    </div>

    <div class="history-area">
        <div class="content-block"></div>
        <div class="history-header-weight">
            <span>Sobrepeso ⛔️</span>
        </div>
        <div class="history-header-time">
            <span class="date">12/10/2023</span>
        </div>
        <div class="description">
            <p>Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!</p>
        </div>
        <div class="line-divider"></div>
    </div>