.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-top: 200px;
}

.content-box {
    display: grid;
    background-color: #ffffff;
    padding: 25px;
    justify-content: space-evenly;
    border-radius: 13px;
    justify-items: center;
}

.sub-title {
    display: inline-table;
    text-align: center;
    width: 287px;
    height: 38px;
}

.group {
    display: contents;
}

    .group .form-text {
        width: 343px;
        height: 50px;
        border: 1px solid #e8e8e8;
        padding: 5px;
        font-size: 16px;
        background-color: #f6f6f6;
        outline: none;
        margin: 8px;
        padding-left: 15px;
    }

.form-text-input {
    border-radius: 10px;
}

.group .form-text::placeholder {
    color: #bdbdbd;
}

.chk-box-group {
    display: flex;
    width: 368px;
    height: 17px;
    margin: 25px 0px 25px 0;
    font-size: 14px;
    align-items: center;
    color: #666666;
}

    .chk-box-group #chk-box {
        margin-right: 10px;
    }

input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #e8e8e8;
    background-color: #f6f6f6;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
}

    input[type="checkbox"]:checked {
        background-color: #bdbdbd;
    }

    input[type="checkbox"]::before {
        content: "\2713";
        font-size: 10px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
    }

    input[type="checkbox"]:checked::before {
        visibility: visible;
    }

.btn {
    width: 343px;
    height: 50px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #45fefe;
    outline: none;
    margin: 8px;
}

    .btn:hover {
        background-color: #ffffff;
        border: 4px solid #45fefe;
        cursor: pointer;
    }

.logo-content {
    display: flex;
    background-color: #ffffff;
    border: 6px solid #45fefe;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.logo-content-min-size {
    width: 140px;
    height: 140px;
}

.position-logo {
    position: absolute;
}

.margin-login-result {
    margin-bottom: 27rem;
}

.logo-content .logo {
    border-radius: 20px;
}