
.painel[b-c2k13p9xtg] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: white;
    height: 600px;
}
.formulario[b-c2k13p9xtg] {
    margin: auto;
    width: 400px;
}